body{
    background-color: rgb(2, 89, 250);
}

#formcont{
    background-color: white;
}

input,select{
    margin-left : 10%;
    width: 30%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: white;
  }

  label{
    width: 20%;
}

.fields{
margin-top:20px;
}

.form{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.weekdays{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    width: 60%;
}

.selectweek{
    width:7%;
    margin-right: 20px;
    margin-top: 20px;
}

.addme{
    color:white;
    width:15%;
    height:50px;
    margin-left: 20%;
    background-color: rgb(2, 89, 250);
    border-style: none;
    border-radius: 50px;
}

.item{
    background-color: rgb(2, 89, 250);
    color:white;
    border: 1px solid red;
    width: 60%;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
}








